<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>

<div class="Note index">
  <h2>All Notes</h2>
  <div>
  <%= link_to("Write", new_note_path, :class => 'action new') %>
  </div>
  

  <% @notes.each do |note| %>
    <div class="listing" summary="Note list">
      <div class = "title list"><%= note.title %></div>
      <div class="content list"><%= note.content[0..50].gsub(/\s\w+\s*$/,'...') %></div>
      <div class="date list"><%= time_ago_in_words(note.created_at)%> <span>ago</div>
      <div class="actions">
        <%= link_to("Show", note_path(note), :class => 'action show') %>
        <%= link_to("Edit", edit_note_path(note), :class => 'action edit') %>
        <!--<%= link_to("Delete", '#', :class => 'action delete') %>-->
      </div>
      <br>
    </div>
  <% end %>
</div>

</body>
</html>